#hero {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 140px 0 100px 0;
    margin-bottom: -75px;
}

#hero::before {
    content: '';
    position: absolute;
    right: -100%;
    top: 20%;
    width: 250%;
    height: 200%;
    z-index: -1;
    background-color: #e8ecf5;
    transform: skewY(135deg);
}

#hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    color: #5777ba;
    font-family: "Poppins", sans-serif;
}

#hero h2 {
    color: #515f7d;
    margin-bottom: 50px;
    font-size: 20px;
}

#hero .download-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    display: inline-block;
    padding: 8px 24px 10px 46px;
    border-radius: 3px;
    transition: 0.5s;
    color: #fff;
    background: #47536e;
    position: relative;
}

#hero .download-btn:hover {
    background: #5777ba;
}

#hero .download-btn i {
    font-size: 20px;
    position: absolute;
    left: 18px;
    top: 8.5px;
}

#hero .download-btn + .download-btn {
    margin-left: 20px;
}

.setup-right {
    z-index: 0;
    color: #fff;
}

.setup-right:before {
    background-image:url("../../img/hero-img.png");
    background-repeat: no-repeat;
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    width: 999em;
    /* allow for bootstrap column padding */
    top: -15px;
    left: -15px;
    bottom: -15px;
}

@media (max-width: 991px) {
    #hero {
        text-align: center;
    }
    #hero .download-btn + .download-btn {
        margin: 0 10px;
    }
    #hero .hero-img {
        text-align: center;
    }
    #hero .hero-img img {
        width: 60%;
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    #hero .hero-img img {
        width: 70%;
    }
}

@media (max-width: 575px) {
    #hero .hero-img img {
        width: 80%;
    }
}
