.multi-step,
.multi-step * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Roboto, sans-serif; }

.multi-step *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.multi-step *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.multi-step .btn {
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
  cursor: pointer;
  text-transform: uppercase;
  white-space: normal;
  overflow-wrap: break-word;
  color: white;
  line-height: 1.5;
  -webkit-transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
  transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
  -o-transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
  margin: 0.375rem;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  -webkit-border-image: initial;
  -o-border-image: initial;
  border-image: initial;
  -webkit-border-radius: 0.125rem;
  border-radius: 0.125rem;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  font-size: 0.64rem;
  padding: 0.5rem 1.6rem; }

.multi-step .card-step-header {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .multi-step .card-step-header .card-step-title {
    text-align: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    font-size: 0.8rem; }
  .multi-step .card-step-header .card-steps {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0.3rem; }
    .multi-step .card-step-header .card-steps .step {
      width: 100%;
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .multi-step .card-step-header .card-steps .step:first-child:before {
        width: 50% !important;
        left: unset;
        right: unset;
        -webkit-transform: translateX(51%);
        -ms-transform: translateX(51%);
        transform: translateX(51%); }
      .multi-step .card-step-header .card-steps .step:first-child:after {
        width: 50% !important;
        left: unset;
        right: unset;
        -webkit-transform: translateX(51%);
        -ms-transform: translateX(51%);
        transform: translateX(51%); }
      .multi-step .card-step-header .card-steps .step:last-child:before {
        width: 50% !important;
        left: 0; }
      .multi-step .card-step-header .card-steps .step:last-child:after {
        width: 50% !important;
        left: 0; }
      .multi-step .card-step-header .card-steps .step:before {
        position: absolute;
        border: 1px solid;
        width: 100%;
        height: 1px;
        display: block;
        z-index: 1;
        top: 11px;
        content: ''; }
      .multi-step .card-step-header .card-steps .step:after {
        position: absolute;
        border: 1px solid;
        width: 0%;
        height: 1px;
        display: block;
        z-index: 1;
        top: 11px;
        left: 0;
        content: '';
        -webkit-transition: 0.2s linear;
        -o-transition: 0.2s linear;
        transition: 0.2s linear; }
      .multi-step .card-step-header .card-steps .step.current:after {
        width: calc(50% - 10px);
        -webkit-transition: 0.2s linear;
        -o-transition: 0.2s linear;
        transition: 0.2s linear; }
      .multi-step .card-step-header .card-steps .step.current:first-child:after {
        width: 0% !important;
        -webkit-transition: 0.2s linear;
        -o-transition: 0.2s linear;
        transition: 0.2s linear; }
      .multi-step .card-step-header .card-steps .step.completed:after {
        width: 100%;
        -webkit-transition: 0.2s linear;
        -o-transition: 0.2s linear;
        transition: 0.2s linear; }
      .multi-step .card-step-header .card-steps .step.skipped:after {
        width: 100%;
        -webkit-transition: 0.2s linear;
        -o-transition: 0.2s linear;
        transition: 0.2s linear; }
      .multi-step .card-step-header .card-steps .step .dot {
        height: 20px;
        width: 20px;
        -webkit-border-radius: 20px;
        border-radius: 20px;
        display: inline-block;
        position: relative;
        top: 0.125em;
        z-index: 2;
        margin: auto;
        border: 1px solid; }
        .multi-step .card-step-header .card-steps .step .dot:before {
          content: '';
          position: absolute;
          top: -1px;
          left: -1px;
          width: 20px;
          height: 20px;
          -webkit-transform: scale(0.75);
          -ms-transform: scale(0.75);
          transform: scale(0.75);
          -webkit-border-radius: 20px;
          border-radius: 20px; }
      .multi-step .card-step-header .card-steps .step .label {
        font-size: 12px;
        display: block;
        margin: 0;
        text-align: center;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        margin-top: 0.5em;
        margin-bottom: 0.5em; }

.multi-step .card-step-body .step-content-container {
  position: relative;
  height: 100%; }
  .multi-step .card-step-body .step-content-container .step-content {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%; }
    .multi-step .card-step-body .step-content-container .step-content .content-inner {
      position: relative; }
    .multi-step .card-step-body .step-content-container .step-content.active {
      display: inline-block; }

.multi-step .card-step-footer .btn-prev {
  margin-right: auto; }

.multi-step .card-step-footer .btn-skip {
  display: none; }
  .multi-step .card-step-footer .btn-skip.skippable {
    display: block; }

.multi-step .card-step-footer .disabled,
.multi-step .card-step-footer :disabled {
  cursor: not-allowed; }

.flex-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%; }
  .flex-center p {
    margin: 0; }
  .flex-center ul {
    text-align: center; }
    .flex-center ul li {
      margin-bottom: 1rem; }
      .flex-center ul li:last-of-type {
        margin-bottom: 0; }
