.wcYear {
    float: left;
    width: 94px;
    height: 110px;
    background: #deecff;
    text-align: center;
    line-height: 110px;
    font-size: 20px;
    color: #666;
    position: relative;
}

.wcYear > i {
    position: absolute;
    background-repeat: no-repeat;
    padding-left: 8px;
    padding-top: 7px;
    left: 45px;
    cursor: pointer;
}

.wcYear > i:first-child {
    background-image: url(../img/icArrowUp.png);
    top: 20px;
}

.wcYear > i:last-child {
    background-image: url(../img/icArrowDown.png);
    bottom: 20px;
}

ul.wcMonth, ul.wcDate {
    padding-left: 0;
    margin-bottom: 0;
}

ul.wcMonth > li, ul.wcDate > li {
    list-style: none;
}

ul.wcMonth {
    height: 40px;
    width: 1225px;
    background: #e8f1fc;
    font-size: 16px;
    color: #666;
    cursor: pointer;
}

ul.wcMonth > li {
    float: left;
    width: 94.2px;
    line-height: 40px;
    text-align: center;
}

ul.wcMonth > li.active {
    background: #5b99ee;
    color: #fff;
    -webkit-animation: bgChange .7s linear both;
    animation: bgChange .7s linear both;
}

ul.wcMonth > li.today {
    background: #b2b8cf;
    color: #fff;
}

ul.wcMonth > li.mouseActive {
    -webkit-animation: bgChange .7s linear both;
    animation: bgChange .7s linear both;
    background: #5b99ee;
    color: #fff;
}

ul.wcDate {
    height: 70px;
    width: 1225px;
    background: #f2f7fe;
    font-size: 18px;
    color: #666;
    margin: 0;
}

ul.wcDate > li {
    float: left;
    width: 58px;
    line-height: 58px;
    text-align: center;
    margin: 6px 33.8px;
    height: 58px;
    cursor: pointer;
}

ul.wcDate > li > span:first-of-type {
    font-size: 22px;
    width: 55px;
    float: left;
    margin-top: -10px;
    height: 20px;
}

ul.wcDate > li > span:last-of-type {
    font-size: 14px;
    color: #999;
}

ul.wcDate > li.today {
    background: #d8e4f3;
    color: #5b99ee;
    border-radius: 50%;
}

ul.wcDate > li.active {
    -webkit-animation: bgChange .7s linear both;
    animation: bgChange .7s linear both;
    background-color: #5b99ee;
    border-radius: 50%;
    color: #fff;
}

ul.wcDate > li.mouseActive {
    -webkit-animation: bgChange .7s linear both;
    animation: bgChange .7s linear both;
    background-color: #5b99ee;
    border-radius: 50%;
    color: #fff;
}

@keyframes bgChange {
    from {
        background: transparent;
    }
    to {
        background: #5b99ee;
    }
}

ul.wcDate > li.today > span:last-of-type {
    color: #5b99ee;
}

ul.wcDate > li.active > span:last-of-type {
    color: #fff;
}

ul.wcDate > li.mouseActive > span:last-of-type {
    color: #fff;
}